*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: #e0cfdd;
  width: auto;
  height: 50rem;
  position: relative;
}

#navbar1 {
  display: flex;
  justify-content: flex-end;
  padding-left: 90%;
  position: absolute;
  top: 6%;
  button {
    color: black;
  }
}

#navbar2 {
  display: flex;
  justify-content: flex-end;
  padding-left: 79%;
  position: absolute;
  top: 6%;
  button {
    color: black;
  }
}

#setUserName, #joinRoom {
  border: 0.12rem solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  text-align: center;
  height: 45%;
  position: absolute;
  top: 24%;
  left: 29%;

  h1{
    font-weight: 600;
    font-family: Trebuchet;
  }
  
  form {
    padding-top: 11%;

    input[type=text]{
      width: 70%;
      background-color: #e0cfdd;
      padding: 0.5rem;
      outline: 0.07rem solid black;
      margin: auto;
      font-family: Trebuchet;
      font-size: 110%;
      color: black;
    }

    input[type=submit]{
      width: 70%;
      background-color: rgb(235, 235, 235);
      margin-top:  0.5rem;
      font-family: Trebuchet;
      font-size: 110%;
      transition-duration: 0.4s;
      color: black;
    }

    input[type=submit]:hover{
      background-color: #e0cfdd;
    }
  }
}

#sendMessage{
  border: 0.12rem solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 55%;
  text-align: center;
  height: 70%;
  position: absolute;
  top: 18%;
  left: 22%;

  h1{
    font-weight: 600;
    font-family: Trebuchet;
  }

  form {
    padding-top: 3%;

    .input-group.mb-3{
      width: 70%;
      margin: auto;
      
    }

    input[type=text]{
      width: 70%;
      background-color: #e0cfdd;
      padding: 0.5rem;
      outline: 0.07rem solid black;
      // border-radius: 8px;
      font-family: Trebuchet;
      font-size: 110%;
      color: black;
      // height: 20%;
    }

    input[type=submit]{
      background-color: rgb(235, 235, 235);
      // margin-top:  0.5rem;
      font-family: Trebuchet;
      font-size: 110%;
      transition-duration: 0.4s;
      color: black;
    }

    input[type=submit]:hover{
      background-color: #e0cfdd;
    }
  }
}

#chatBox {
  border: black 0.1rem solid;
  border-radius: 10px;
  width: 70%;
  height: 65%;
  margin: auto;
  overflow: auto;

  #messages{
    font-family: Trebuchet;
    font-size: 140%;
    flex: initial;
    display: table;
    width: 100%;
    height: auto;

    #message{
      #you {
        margin: 0px;
        padding: 0px;
        font-size: 70%;
        text-align: right;
        padding-right: 1%;
      }

      #yourMessage {
        background-color: #84c0fc;
        color: white;
        border-radius: 11px;
        margin-left: 35%;
        width: 65%;
      }

      #them {
        margin: 0px;
        padding: 0px;
        font-size: 70%;
        text-align: left;
        padding-left: 1%;
      }

      #theirMessage {
        // background-color: rgb(235, 235, 235);
        background-color: #cccfd4;
        color: white;
        border-radius: 11px;
        width: 65%;
      }
    }

    #scrollPoint {
      color: #e0cfdd;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

}
