*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: #e0cfdd;
  width: auto;
  height: 50rem;
  position: relative;
}

#setUserName, #joinRoom {
  border: 0.12rem solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  text-align: center;
  height: 45%;
  position: absolute;
  top: 24%;
  left: 29%;

  h1{
    font-weight: 600;
    font-family: Trebuchet;
  }
  
  form {
    padding-top: 11%;

    input[type=text]{
      width: 70%;
      background-color: #e0cfdd;
      padding: 0.5rem;
      outline: 0.07rem solid black;
      margin: auto;
      font-family: Trebuchet;
      font-size: 110%;
      color: black;
    }

    input[type=submit]{
      width: 70%;
      background-color: rgb(235, 235, 235);
      margin-top:  0.5rem;
      font-family: Trebuchet;
      font-size: 110%;
      transition-duration: 0.4s;
      color: black;
    }

    input[type=submit]:hover{
      background-color: #e0cfdd;
    }
  }
}

#sendMessage{
  border: 0.12rem solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 55%;
  text-align: center;
  height: 70%;
  position: absolute;
  top: 18%;
  left: 22%;

  h1{
    font-weight: 600;
    font-family: Trebuchet;
  }

  form {
    padding-top: 8%;

    .input-group.mb-3{
      width: 70%;
      margin: auto;
      
    }

    input[type=text]{
      width: 70%;
      background-color: #e0cfdd;
      padding: 0.5rem;
      outline: 0.07rem solid black;
      font-family: Trebuchet;
      font-size: 110%;
      color: black;
    }

    input[type=submit]{
      background-color: rgb(235, 235, 235);
      // margin-top:  0.5rem;
      font-family: Trebuchet;
      font-size: 110%;
      transition-duration: 0.4s;
      color: black;
    }

    input[type=submit]:hover{
      background-color: #e0cfdd;
    }
  }
}

#chatBox {
  border: black 0.1rem solid;
  width: 90%;
  height: 60%;
  margin: auto;
  overflow: auto;

  #messages{
    font-family: Trebuchet;
    font-size: 140%;
    flex: initial;
    display: table;

    #message{
      background-color: rgb(235, 235, 235);
      margin-left: 6%;
      border-radius: 11px;
      // position: relative;
      // padding: 6px 8px;
      // margin: 4px 0;
    }

    #scrollPoint {
      color: #e0cfdd;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

}
